CDK_ACCOUNT=000000000000
CDK_REGION=us-east-1
ALLOWED_ORIGIN=http://localhost:4200
PRODUCTS_TABLE_NAME=Products
STOCKS_TABLE_NAME=Counts
S3_BUCKET_NAME=product-import-service-bucket
S3_BUCKET_UPLOADED_FOLDER=uploaded
